{% load i18n static %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,600,600italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bloggo.css" %}">
    <title>Automated Programming</title>
  </head>
  <body>
    {% block body %}
      <div class="container-fluid">
        <header id="page-header">
          <div class="site-name">{{ site_name|default:"Bloggo" }}</div>
          {% if site_tagline %}<div class="site-tagline">{{ site_tagline }}</div>{% endif %}
        </header>
        <div class="row">
          <main id="page-main" class="col-lg-8 col-xl-8">
            {% block main %}{% endblock %}
          </main>
          <aside id="page-aside" class="col-lg-4 col-xl-4">
            {% block aside %}
              <section id="aside-user">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 col-lg-12">
                    <img id="aside-user-picture" src="{{ aside_user.picture.url }}" alt="{{ aside_user.get_short_name }}"class="img-circle">
                  </div>
                  <div class="col-xs-12 col-sm-8 col-lg-12">
                    <b class="h3">{{ aside_user.get_short_name }}</b>
                    {% if aside_user.short_description %}<br><i>{{ aside_user.short_description }}</i>{% endif %}
                    {% if aside_user.website %}<br>{{ aside_user.get_website_link }}{% endif %}
                  </div>
                </div>
              </section>
            {% endblock %}
          </aside>
        </div>
      </div>
    {% endblock %}
    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
